div.graph {
    border: 1px solid #268BD3;
    margin: 10px;
    background-color: #ffffff;
}

.graph_title {
    background-color: #FDF6E3;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #268BD3;
}

.graph {
    float: left;
    margin-right: 16px;
}

.graph .graph_menu {
    position: absolute;
    cursor: default;
}

.graph div.menu_item {
    /*position: absolute;*/
    display: inline;
    background-color: #FDF6E3;
    margin: 0;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    float:left;
    text-align: left;
    font-size: 10px;
    height: 15px;
    overflow: hidden;
}
.graph h3 {
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #268BD3; */
    color: #268BD3;
    font-size: 9px;
    line-height: 15px;
}
.graph ul.parameter_selection {
    margin: 0;
    padding: 0;
}
.graph div.menu_item:hover {
    height: auto;
}

.graph .menu_button {
    text-decoration: none;
    border: 0;
    background-color: #268BD3;
    color: #ffffff;
    font-size: 9px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.graph li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.graph svg {
}

.axis path,
.axis line {
}

.axis text {

}

.x.axis line,
.y.axis line {
    /*stroke: lightgrey;*/
}

.x.axis .minor,
.x.axis .minor {
    /*stroke-opacity: .5;*/
}

path.line {
/*    stroke-width: 1px; */
/*    stroke: #FDF6E3; */
/*    fill: none; */
/*    fill-opacity: .5; */
}

/* CHECKBOX */
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:10px;
    height:10px;
    background:url(http://localhost:8080/static/img/checkbox.png) left top no-repeat;
    margin:0;
    margin-bottom: 2px;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox.png) -20px top no-repeat;
}
input[type="checkbox"] + label strong {
    line-height: 20px;
    margin-left: 3px;
}
