div.graph {
    border: 1px solid #268BD3;
    margin: 10px;
}

.graph h2 {
    background-color: #FDF6E3;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.graph {
    float: left;
    margin-right: 16px;
}

.graph div.parameter_selection {
    position: absolute;
    display: inline;
    background-color: #FDF6E3;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    float:right;
    text-align: left;
    font-size: 10px;
    border-bottom: 2px solid #268BD3;
    height: 15px;
    overflow: hidden;
}
.graph h3 {
    margin: 0;
    padding: 0;
    border: 0;
}
.graph ul.parameter_selection {
    margin: 0;
    padding: 0;
}
.graph div.parameter_selection:hover {
    height: 150px;
}


.graph li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.graph svg {
    /* border: 1px solid #FDF6E3; */
}

.axis path,
.axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
}

.axis text {
        font-family: sans-serif;
        font-size: 10px;
}

.x.axis line,
.y.axis line {
    stroke: lightgrey;
}

.x.axis .minor,
.x.axis .minor {
    stroke-opacity: .5;
}

path.line {
    stroke-width: 1px;
/*    stroke: #FDF6E3; */
/*    fill: none; */
    fill-opacity: .5;
}

