div.graph {
    border: 1px solid #268BD3;
}

.graph h2 {
    background-color: #FDF6E3;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.graph {
    float: left;
    margin-right: 16px;
}

.graph svg {
    border: 1px solid #FDF6E3;
}

.axis path,
.axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
}

.axis text {
        font-family: sans-serif;
        font-size: 10px;
}

.x.axis line,
.y.axis line {
    stroke: lightgrey;
}

.x.axis .minor,
.x.axis .minor {
    stroke-opacity: .5;
}

path.line {
    stroke-width: 2px;
    stroke: #FDF6E3;
    fill: none;
}

