/* @override 
	http://localhost:8080/static/css/main.css */

/* COLORS
 * #647B83  // dark gray
 * #93A1A1  // light gray
 * #EFE8D5  // darker beige -> darker background
 * #FDF6E3  // beige -> background
 * #268BD3  // blue -> highlight
 * #FF5179  // redish -> warning
 */
body {
    font-family: Menlo;
    font-size: 11px;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #EFE8D5;
}
#header {
    background-color: #fff;
    border-bottom: 3px solid #268BD3;
    /* width: 200px; */
}
#header img {
    margin: 10px;
}
h3 {
    border-top: 1px dotted #FDF6E3;
}
#sidebar {
    float: left;
    overflow: auto;
    width: 250px;
}
#cssmenu {
    float: left;
}

#infobar {
    float: left;
}
#infobar div{
    width: 160px;
    margin-left: 9px;
    margin-top: 15px;
    padding-left: 10px;
    min-height: 15px;
    border-left: 3px solid #FDF6E3;
}
#event_rate {
    display: inline-block;
    font-size: 18px;
    text-align: right;
    width: 120px;
}
#event_rate_indicator {
    background: black;
    font-size: 18px;
    width: 20px;
    float: right;
}


#console {
    height: 200px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #FDF6E3;
    color: #93A1A1;
    font-family: Menlo, Monaco, monospace;
}
#console_log {
    height: 180px;
    overflow-y: scroll;
    margin-left: 10px;
}
.console_line span {
    padding-right: 10px;
}
.window_title {
    padding-left: 10px;
    width: 100%;
    color: #FDF6E3;
    background-color: #93A1A1;
    height: 20px;
    line-height: 20px;
    font-family: Menlo, Monaco, monospace;
    font-weight: bold;    
    text-align: center;
    cursor: pointer;
    cursor: hand;
    
    color: #fdf6e3;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    background: #268bd3;
    background: -webkit-linear-gradient(#268bd3, #227dbd);
    background: -moz-linear-gradient(#268bd3, #227dbd);
    background: -o-linear-gradient(#268bd3, #227dbd);
    background: -ms-linear-gradient(#268bd3, #227dbd);
    background: linear-gradient(#268bd3, #227dbd);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.minimized_window {
    height: 20px !important;
}
.highlighted_text {
    color: #268BD3;
}

/* CONTENT */
#content {
    position: absolute;
    top: 80px;
    left: 200px;
    padding: 45px;
    margin-right: 250px;
    float:left;
    min-height: 600px;
}

#content iframe {
    border: 0;
    width: 600px;
    height: 600px;
    
}


