/* RIGHT SIDEBAR */
#right-sidebar {
    width: 250px;
    min-height: 500px;
    float: right;
}

/* PARAMETER TABLE */
#parameters {
    width: 230px;
}

.parameter_color {
    text-align: left;
}
.parameter_type {
    text-align: left;
}
.parameter_unit {
    text-align: center;
}
.parameter_rate {
    text-align: right;
}

td.parameter_type {
    font-weight: bold;
}

/* BUTTONS */

input[type="submit"] {
    color: #FDF6E3;
    background-color: #2688D3;
    border: 0;
}