include README.rst
include LICENSE.txt
recursive-include royweb/static *
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-include config *
prune docs/_build
