Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Sphinx==1.2.2
astroid==1.1.1
backports.ssl-match-hostname==3.4.0.2
daemon==1.0
docutils==0.12
logilab-common==0.62.0
pylint==1.2.1
selenium==2.44.0
tornado==3.2.2
wsgiref==0.1.2
docopt
