<!DOCTYPE html>
<html lang="en" data-ng-app="ROyWeb">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Restless Oyster (v{{ version }})</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/v2.css" rel="stylesheet">

    <script type="text/javascript">
      // Settings
      window.royweb_ip = "{{ royweb_ip }}";
      window.royweb_port = "{{ royweb_port }}";
    </script>


  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img alt="Restless Oyster" src="/static/img/roy_logo_inline.png" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button"
                          aria-haspopup="true"
                          aria-expanded="false">
                  Session
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Empty Session</a></li>
                <li><a href="#">Save Session</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Previous Sessions</li>
                <li><a href="#">Foo</a></li>
                <li><a href="#">Narf</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                          data-toggle="dropdown"
                          role="button"
                          aria-haspopup="true"
                          aria-expanded="false">
                  Add Graph
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">TimePlot</a></li>
                <li><a href="#">Histogram</a></li>
                <li><a href="#">Equaliser</a></li>
              </ul>
            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div id="content" class="col-sm-9"></div>
            <div id="sidebar" class="col-sm-3">
                {% include "settings.html" %}
                {% include "parameters.html" %}
            </div>
        </div>
    </div>



    <script src="/static/js/external/jquery-1.11.0.min.js"></script>
    <script src="/static/js/external/d3.v3.min.js"></script>
    <script src="/static/js/external/bootstrap.min.js"></script>
    <script src="/static/js/external/chroma.min.js"></script>
    <script src="/static/js/external/angular-1.4.7.min.js"></script>
    <script src="/static/js/websocket_v2.js"></script>
    <script src="/static/js/tools.js"></script>
    <script src="/static/js/graphs_v2.js"></script>

    <script>
        app = angular.module('ROyWeb', []);

        app.controller('ParametersController',
                ['$scope', function($scope) {

            $scope.parameters = [];
            $scope.predicate = 'type';
            $scope.reverse = false;
            $scope.order = function(predicate) {
                $scope.reverse = ($scope.predicate === predicate) ? !$scope.reverse : false;
                $scope.predicate = predicate;
            };

        }]);

        app.controller('SettingsController',
                ['$scope', function($scope) {
        }]);


        app.factory('GraphSettingsFactory', function () {
            var factory = {};

            return factory;
        });


        app.directive('donutChart', function(){
            function link(scope, el, attr){
                var color = d3.scale.category10();
                var data = scope.data;
                var width = 300;
                var height = 300;
                var min = Math.min(width, height);
                var svg = d3.select(el[0]).append('svg');
                var pie = d3.layout.pie().sort(null);
                var arc = d3.svg.arc()
                    .outerRadius(min / 2 * 0.9)
                    .innerRadius(min / 2 * 0.5);

                svg.attr({width: width, height: height});
                var g = svg.append('g')
                    // center the donut chart
                    .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

                // add the <path>s for each arc slice
                g.selectAll('path').data(pie(data))
                    .enter().append('path')
                    .style('stroke', 'white')
                    .attr('d', arc)
                    .attr('fill', function(d, i){ return color(i) });
             }
            return {
                link: link,
                restrict: 'E',
                scope: { data: '=' }
            };
        });

    </script>
  </body>
</html>



